<h1>Key Features: {{title}}</h1>


<!-- link variable to template using angular input property syntax-->
<input class="user-name" [value]="data.name">
<br/>
<br/>

<!-- pass the plane string using angular input property syntax -->
<input class="user-name" [value]="'some plan string'">
<br/>
<br/>

<!--to handle click event-->
<button (click)="onClick()">Click me</button>
<br/>
<br/>


<!--pass current value of the input to the component-->
<input class="user-name" (keyup)="onKeyup(userInput.value)" #userInput>
