<div class="col-6 mx-auto">

  <div class="card mt-4">

    <div class="card-header text-white bg-primary">Reverse Text</div>

    <div class="card-body">
      <div class="form-group">
        <label>Text</label>
        <input (input)="onChangeText($event.target.value)" class="form-control">
      </div>

      <div class="form-group">
        <button (click)="onSubmit()" [disabled]="isTextPresent()">Submit</button>
      </div>

      <div *ngIf="reversedText.length">
        Reversed Text: {{reversedText}}
      </div>

    </div>

  </div>

</div>
